<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topbraid.sparql.functions">
      <function
            class="org.topbraidlive.uispin.functions.GetUIHTMLFunction"
            uri="http://uispin.org/ui#getUIHTML">
      </function>
   </extension>
   <extension
         point="org.topbraid.strings.labelsPlugins">
      <labelsPlugin
            class="org.topbraidlive.uispin.labels.UILabelsPlugin">
      </labelsPlugin>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/tbl/uispin"
            class="org.topbraidlive.uispin.servlet.UISPINServlet">
      </servlet>
   </extension>
   <extension point="org.topbraid.core.systemOntologies">
      <systemOntology
            file="etc/ui.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/html.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/svg.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/tui.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/charts.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/css.rdf"
            group="UISPIN" />
      <systemOntology
            file="etc/uilink.rdf"
            group="UISPIN">
      </systemOntology>
      <systemOntology
            file="etc/ui.ui.rdf"
            group="UISPIN">
      </systemOntology>
      <systemOntology
            file="etc/uiapp.rdf"
            group="UISPIN">
      </systemOntology>
   </extension>
   <extension
         point="org.topbraid.core.pluginActivators">
      <activator
            class="org.topbraidlive.uispin.UISPINPluginActivator">
      </activator>
   </extension>
   <extension
         point="org.topbraid.core.junit4tests">
      <suite
            class="org.topbraidlive.uispin.xml.engine.TestUISPINEngine">
         <speedInfo
               needsProduct="false"
               specialInterest="false"
               speed="medium">
         </speedInfo>
      </suite>
      <suite
            class="org.topbraidlive.uispin.xml.engine.TestUISPINEngineFast">
         <speedInfo
               needsProduct="false"
               specialInterest="false"
               speed="fast">
         </speedInfo>
      </suite>
      <suite
            class="org.topbraidlive.uispin.xml.engine.TestUISPINFunctions">
         <speedInfo
               needsProduct="false"
               specialInterest="false"
               speed="fast">
         </speedInfo>
      </suite>
      <suite
            class="org.topbraidlive.uispin.xml.engine.TestUISPINLabels">
         <speedInfo
               needsProduct="false"
               specialInterest="false"
               speed="fast">
         </speedInfo>
      </suite>
   </extension>
   <extension
         point="org.topbraid.core.images">
      <imagesPlugin
            class="org.topbraidlive.uispin.labels.UIImagesPlugin">
      </imagesPlugin>
   </extension>
   <extension
         point="org.topbraid.strings.rowEditorDrivers">
      <rowEditorDriver
            class="org.topbraidlive.uispin.labels.UIElementRowEditorDriver">
      </rowEditorDriver>
      <rowEditorDriver
            class="org.topbraidlive.uispin.labels.UITextNodeRowEditorDriver">
      </rowEditorDriver>
      <rowEditorDriver
            class="org.topbraidlive.uispin.labels.UICommentNodeRowEditorDriver">
      </rowEditorDriver>
   </extension>
   <extension
         point="org.topbraid.sparqlmotion.moduleTypes">
      <moduleType
            class="org.topbraidlive.uispin.sm.CreateUISPINDocumentModule"
            classURI="sml:CreateUISPINDocument">
      </moduleType>
      <moduleType
            class="org.topbraidlive.uispin.sm.ReturnUISPINDocumentModule"
            classURI="sml:ReturnUISPINDocument">
      </moduleType>
   </extension>
</plugin>
